{% include "header.html" %}


    <div class="container">
    	<div class="row">
    		<div class="order-menu col-lg-4">
	        	{% for menu_item in menu_items %}
					<div id="menu-item-{{ menu_item.id }}" class="menu-item title row">
						<div class="col-lg-12">
							<h3>{{ menu_item.name }}</h3>
						</div>
			        </div>

			        <div class="addon-container row">
						<div class="category col-lg-12">
				        	{% for addon_category_name,addon in menu_item.addons %}
				        		<div class="addon">
				            		<h4>{{ addon_category_name }}</h4>
				            		<div class="types">
				            			<fieldset>
				                		{% for addon_type in addon %}
				                			<div class="radio-container">
				                				{% if addon_type.menu_item_detail_type_id == 6 or addon_type.menu_item_detail_type_id == 7 %}
				                					<label for="{{ menu_item.id }}-category-{{ addon_category_name }}"><input type="checkbox" id="{{ menu_item.id }}-addon-{{ addon_type.addonId }}" name="{{ menu_item.id }}-category-{{ addon_category_name }}" value="{{ addon_type.addonId }}"> </input>{{addon_type.addonName}}</label>
				                				{% else %}
				                					<label for="{{ menu_item.id }}-category-{{ addon_category_name }}"><input type="radio" id="{{ menu_item.id }}-addon-{{ addon_type.addonId }}" name="{{ menu_item.id }}-category-{{ addon_category_name }}" value="{{ addon_type.addonId }}"> </input>{{addon_type.addonName}}</label>
				                				{% endif %}
				                			</div>
				                		{% endfor %}
				                		</fieldset>
				            		</div>
				        		</div>
				        	{% endfor %}

					        <a class="add-to-order-btn btn btn-primary" data-itemid="{{ menu_item.id }}">
					        	Add to Order
					        </a>
			        	</div>
		        	</div>
		        {% endfor %}
	        </div>
	        <div class="cart col-lg-8">

	        </div>
        </div>
    </div>
    <!-- /.container -->

{% include "footer.html" %}