{% include "header.html" %}


    <div class="container">
    	<div class="row">
    		<div class="order-menu col-lg-4">
	        	{% for menu_item in menu_items %}
					<div id="menu-item-{{ menu_item.id }}" class="menu-item title row">
						<div class="col-lg-12">
							<span class="desc">
								<h3>{{ menu_item.name }}</h3>
							</span>
							<span class="price">
								{% if menu_item.price != 0.00 %}
									<h3>{{ menu_item.price }}</h3>
								{% endif %}
							</span>
						</div>
			        </div>

			        <div class="addon-container row">
						<div class="category col-lg-12">
				        	{% for addon_category_name,addon in menu_item.addons %}
				        		<div class="addon">
				            		<h4>{{ addon_category_name }}</h4>
				            		<div class="types">
				            			<fieldset>
				                		{% for addon_type in addon %}
				                			<div class="radio-container">
				                				{% if addon_type.menu_item_detail_type_id == 6 or addon_type.menu_item_detail_type_id == 7 %}
				                					<label for="{{ menu_item.id }}-category-{{ addon_category_name }}"><input type="checkbox" id="{{ menu_item.id }}-addon-{{ addon_type.addonId }}" name="{{ menu_item.id }}-category-{{ addon_category_name }}" value="{{ addon_type.addonId }}"> </input>{{addon_type.addonName}}</label>
				                					{% if addon_type.price != 0.00 %}
				                						<span class="price">+{{ addon_type.price }}</span>
				                					{% endif %}
				                				{% else %}
				                					<label for="{{ menu_item.id }}-category-{{ addon_category_name }}"><input type="radio" id="{{ menu_item.id }}-addon-{{ addon_type.addonId }}" name="{{ menu_item.id }}-category-{{ addon_category_name }}" value="{{ addon_type.addonId }}"> </input>{{addon_type.addonName}} </label>

				                					{% if addon_type.price != 0.00 %}
				                						<span class="price">+{{ addon_type.price }}</span>
				                					{% endif %}
				                				{% endif %}
				                			</div>
				                		{% endfor %}
				                		</fieldset>
				            		</div>
				        		</div>
				        	{% endfor %}

					        <a class="add-to-order-btn btn btn-primary" data-itemid="{{ menu_item.id }}">
					        	Add to Order
					        </a>
			        	</div>
		        	</div>
		        {% endfor %}
	        </div>

	        <div class="cart col-lg-8">
	        	<div class="panel panel-default">
	        	  	<div class="panel-heading">Cart</div>
	        	  	<div class="cart-items panel-body">
	        	  	</div>

	        	  	<div class="total-price">
	        	  	</div>

	        	  	<div class="order-btns">
		        		<a class="cancel-order btn btn-danger">
		        			Cancel Order
		        		</a>
		        		<a class="submit-order btn btn-success">
		        			QR My Order
		        		</a>
		        	</div>
        		</div>
	        </div>

        </div>
    </div>
    <!-- /.container -->

{% include "footer.html" %}