{% include "header.html" %}

    <div class="banner">
        <div class="overlay">
        </div>

        <div class="container push">
            <div class="row">
                <div class="col-lg-12">
                    <h1>QR My Order</h1>
                    <p>Our project is a mobile website meant to expedite the ordering process at restaurants. You will be able to make your order online and receive a QR code that represents your order. When you get to the register, your QR code is scanned and your order is retrieved for the POS device to total it. This means more efficient staff and shorter wait times for customers.</p>
                    <a class="btn btn-primary btn-lg" href="/createorder">
                        Create an Order
                    </a>
                </div>
            </div>

        </div>
    </div>
    <!-- /.container -->

{% include "footer.html" %}